<header class="fixed">
  <nav class="nav-bar">
      <div class="nav-links"><a href="{{home_url}}" style="display:inline;"><img src="/img/avatar.png" class="home__icon"></a></div>
      <div class="nav-links"><a href="{{music_url}}">Music</a></div>
      <div class="nav-links"><a href="{{branded_url}}">Branded</a></div>
      <div class="nav-links"><a href="{{narrative_url}}">Narrative</a></div>
      <div class="nav-links"><a href="{{photography_url}}">Photography</a></div>
      <div class="nav-links"><a href="{{contact_url}}">About</a></div>
  </nav>
</header>
