<header class="fixed">
  <nav class="nav-bar">
      <div class="nav-links"><a href="{{home_url}}" style="display:inline;"><img src="/img/avatar.png" class="home__icon"></a></div>
      <div class="nav-links"><a href="{{music_url}}">MUSIC</a></div>
      <div class="nav-links"><a href="{{branded_url}}">BRANDED</a></div>
      <div class="nav-links"><a href="{{narrative_url}}">NARRATIVE</a></div>
      <div class="nav-links"><a href="{{photography_url}}">PHOTOGRAPHY</a></div>
      <div class="nav-links"><a href="{{contact_url}}">CONTACT</a></div>
  </nav>
</header>